<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${pageTitle}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<p>This page is intended to showcase CRUD operations. The user is able to add an Employee to the table</p><br>
<p>Which is then reflected on the webpage once the table is updated.</p>


<form method="post">
    <table>
        <tr>
            <td>
                EmployeeID: <input type="text" name="employeeID"/>
            </td>
        </tr>
        <tr>
            <td>
                First Name: <input type="text"  name="firstName"/>
            </td>
        </tr>
        <tr>
            <td>
                Last Name: <input type="text" name="lastName"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Employee"/>
</form>

</body>
</html>