<!DOCTYPE html>
<meta charset="UTF-8"/>
<html lang="en" xmlns:th="http://www.thymleaf.org/">


<head th:replace="fragments :: head"></head></head>


<body onload="Javascript:AutoRefresh()">
<h1 th:text="${pageTitle}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<p>This page is to showcase CRUD operations through adding a list of employees inputted by the user on the "Add An Employee" page.
  If the table is empty then the error message "No Employees to Display" should be displayed.</p>
<br>

<h2>Employee Table</h2>

<!-- If the ArrayList is empty then display message -->
<p th:unless="${employees} and ${employees.size()}">No Employees to Display</p>

<table style="width:10%">
    <tr>
        <th>EmployeeID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.employeeID}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td><input type="submit" value="Update"/></td>
        <td>
            <form th:action="@{employee-data}" th:object="${employee}" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>



</body>

</html>