<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${pageTitle}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<p>If you are reading this. Thank you for checking out my project.</p>
<hr>
<p>This project was created with the intention and overall goal of familiarizing myself with the Spring Framework. (Specifically back-end)<br>
 While the project is simple, it has greatly deepened my understanding of the many components of a SpringBoot project. <br>

</body>
</html>