<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${tabTitle}">My Cheeses</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>

<nav th:fragment="navigation">
    <a href="/MyMVC">Home</a>
    <a href="/MyMVC/list">List</a>
    <a href="/MyMVC/add">Add</a>
    <a href="/MyMVC/employee-data">Employee Data</a>
    <a href="/MyMVC/crud">Add An Employee(CRUD)</a>
</nav>

</body>


</html>